.calculator {
  max-width: 400px;
  margin: auto;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  font-size: 1.5em;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
  cursor: pointer;
  background-color: #61dafb;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0c7bba;
}

.result {
  margin-top: 20px;
  font-size: 1.2em;
}
